// Copy this file to config_secret.h and fill in your values.
// config_secret.h is gitignored so sensitive data is not committed.
#ifndef CONFIG_SECRET_H
#define CONFIG_SECRET_H

const char *ssid = "your_ssid_goes_here";     // Your WiFi SSID
const char *pass = "your_password_goes_here"; // Your WiFi password
const char *url = "http://<server-url>:8364/dash.jpg"; // URL of the server generating the image

#endif
